[Desktop Entry]
Name=Phoenicis PlayOnLinux
Comment=Graphical front-end for Wine
Exec=phoenicis-playonlinux %U
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Icon=org.phoenicis.playonlinux
Categories=Utility
Keywords=Phoenicis;PlayOnLinux;Wine;

