Package: Phoenicis-PlayOnLinux
Version: 5.0-alpha
Section: misc
Priority: optional
Architecture: all
Description: This program is a front-end for wine.
              It permits you to install Windows Games and softwares
              on Linux. It allows you to manage differents virtual hard drive,
              and several wine versions.
             Copyright 2011 PlayOnLinux team <contact@playonlinux.com>
Maintainer: PlayOnLinux Packaging <packages@playonlinux.com>
Homepage: www.phoenicis.org
Depends: default-jre | java8-runtime, openjfx, unzip, wget, xterm | x-terminal-emulator, imagemagick, cabextract, icoutils, p7zip-full, curl, libxext6:i386
