[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Phoenicis PlayOnLinux
GenericName=Phoenicis PlayOnLinux
Comment=Phoenicis
Type=Application
Exec=env GTK_CSD=0 phoenicis %F
Icon=phoenicis
Categories=Game;Utility;
