body {
    font-family: "Roboto light";
    font-size: 1.2em;
    color: #eff0f1;
    background-color: #232629;
}

a {
    color: #3daee9;
}

b {
    font-family: "Roboto";
    font-weight: normal;
}