.ActionSideBar::title {
	margin-left: 2px;
	padding-left: 4px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 20), stop:1 rgba(0, 0, 0, 20))
}


.ActionMenu {
    font-weight: bold;
}
.ActionMenu::title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding-left: 3px;
}


.ActionMenuItem {
    padding-left: 3px;
    min-height: 22px;
    max-height: 22px;
    text-align: left;
}