name: Linter
on: pull_request

jobs:
  java:
    name: Lint .java files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'

      - name: Run Maven formatter
        run: mvn formatter:format

      - name: Commit changes
        uses: EndBug/add-and-commit@v6
        with:
          author_name: PhoenicisBot
          author_email: git@phoenicis.org
          message: 'Lint .java files'
          add: '*.java'
